$mobile320: "only screen and (min-width : 320px)";
$tab600: "only screen and (min-width : 600px)";
$tab1200: "only screen and (min-width : 1200px)";

*::selection {
  background: $red;
  color: $white;
}

html { font-size: 62.5%; }
body{
	background: $white;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	cursor: pointer;
	color: $white;
}
*{box-sizing: border-box;}

header.menu_left{
	margin: auto;
	.show{
		visibility: visible!important;
		transform: translateX(00px);
	}
	// .content{
	// 	max-width: 1200px;
	// 	margin: auto;
	// }
	.burger-icon{
		font-family: "shegueyfont";
		font-size: 3em;
		padding: 15px;
		margin: 0;
		cursor: pointer;
		z-index: 999;
		&.black{
			color: $black;
			position: fixed;
			background: $white;
		}
		&.white{
			color: $white;
		}
		&:before{
			content: "a";
		}
	}

	h1.logo { 
		text-align: center;
		margin: 0;
		img {
		height: auto;
		max-width: 55%;
		padding: 15px 0;
		margin: auto;
		}
	}

	.shadowClose {
		top: 0;
		right: 0;
		bottom: 0;
		
		background: rgba(24,29,34,0.4);
		content: '';
		opacity: 0;
		transition: opacity 0.5s;
		&.showHide{
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 20;
			opacity: 1;
		}
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 9999;
		visibility: hidden;
		height: 100%;
		background: $red;
		transition: all 0.5s;
		transform: translateX(-300px);
		.burger-icon{
			&:before{
				content: "d";
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding-right: 30px;
				transition: background 0.3s;
				& + li{
					border-top: solid 1px darken($red,10%);
				}
				a {
					display: block;
					padding: 0.5em 0.5em 0.5em 0.7em;
					outline: none;
					width: 100%;
					color: $white;
					text-transform: uppercase;
					// letter-spacing: 1px;
					font-size: 1.8em;
					font-family: 'Francois One', sans-serif;

				}
				&:hover {
					background: darken($red, 10%);
				}
			}
		}
	}
}

.button{
	padding: 10px 25px;
	border: solid 2px $white;
	color: $white;
	transition: background-color 0.3s ease-in-out;
}

//reset button
button {
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: #26589F;
        font-family: 'PT Sans Narrow',sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
}

footer {
	width: 100%;
	height: 50px;
	background-color: $black;
	display: table;
	nav{
		width: 70%;
		display: table-cell;
		vertical-align: middle;
		margin: auto;
		ul{
			li{
				display: inline-block;
				h2 {
					text-align: center;
					font-size: 1em;
					// color: $white;
					a{
						color: darken($lightgrey,30%);
						transition: all .5s ease-in-out;
						&:hover {
							color: $white;
						}
					}
				}
				span {
					color: $white;
					margin: 0 20px;
				}
			}
		}
	}
}

@media #{$tab600} {
	footer {
		margin-top: 25px;
	}
		h1.logo { 
			img {
				width: 434px;
				height: 187px;
				margin: auto;
				background-size: cover;
			}
	}

}@media #{$tab1200} {
	footer {
		margin-top: 25px;
	}
		h1.logo { 
			img {
				width: 434px;
				height: 187px;
				margin: auto;
				background-size: cover;
			}
	}
}