@charset "UTF-8";
*::-moz-selection {
  background: #df0030;
  color: #ffffff;
}
*::selection {
  background: #df0030;
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none;
}
fieldset legend {
  display: none;
}

header.menu_left {
  margin: auto;
}
header.menu_left .show {
  visibility: visible !important;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
header.menu_left .burger-icon {
  font-family: "shegueyfont";
  font-size: 3em;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  z-index: 999;
}
header.menu_left .burger-icon.black {
  color: #191e23;
  position: fixed;
  background: #ffffff;
}
header.menu_left .burger-icon.white {
  color: #ffffff;
}
header.menu_left .burger-icon:before {
  content: "a";
}
header.menu_left h1.logo {
  text-align: center;
  margin: 0;
}
header.menu_left h1.logo img {
  height: auto;
  max-width: 55%;
  padding: 15px 0;
  margin: auto;
}
header.menu_left .shadowClose {
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(24, 29, 34, 0.4);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}
header.menu_left .shadowClose.showHide {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  opacity: 1;
}
header.menu_left nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  visibility: hidden;
  height: 100%;
  background: #df0030;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}
header.menu_left nav .burger-icon:before {
  content: "d";
}
header.menu_left nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header.menu_left nav ul li {
  padding-right: 30px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
header.menu_left nav ul li + li {
  border-top: solid 1px #ac0025;
}
header.menu_left nav ul li a {
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.7em;
  outline: none;
  width: 100%;
  font-size: 1.8em;
}
header.menu_left nav ul li:hover {
  background: #ac0025;
}
header.menu_left nav .socialIcons {
  text-align: center;
  margin-top: 30px;
}

.socialIcon {
  font-family: "shegueyfont";
  font-size: 3.5em;
}
.socialIcon.red {
  color: #ac0025;
}
.socialIcon.red:hover {
  color: #79001a;
}
.socialIcon.twitterIcon:after {
  content: "m";
}
.socialIcon.facebookIcon:after {
  content: "l";
}

.button {
  padding: 10px 25px;
  border: solid 2px #ffffff;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589F;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

header.header {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 15px 25px;
  background: #df0030;
  display: table;
}
header.header h2 {
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-size: 2.6em;
  vertical-align: middle;
}

.content {
  max-width: 1200px;
  margin: auto;
}
.content h3.title3 {
  margin: 10px 15px;
  padding: 0 15px;
  font-size: 2em;
  font-weight: normal;
  text-transform: none;
  color: #191e23;
  border-left: solid 8px #df0030;
}
.content h3.title3 strong {
  color: #df0030;
  font-weight: normal;
}
.content h3.title3 + h3.title3 {
  margin-top: 0px;
  margin-bottom: 25px;
}

footer {
  padding: 10px;
  background-color: #191e23;
}
footer nav ul li {
  list-style: none;
  padding: 10px 0;
}
footer nav ul li a {
  font-size: 1.8em;
  color: #9d9d9d;
  -webkit-transition: color .5s ease-in-out;
          transition: color .5s ease-in-out;
}
footer nav ul li a:hover {
  color: #ffffff;
}
footer nav ul li + li {
  border-top: solid 1px #333333;
}

@media only screen and (min-width: 600px) {
  header.menu_left nav ul li a {
    font-size: 2.2em;
  }

  footer {
    margin-top: 25px;
  }
  footer nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: 0.8em;
  }
  footer nav ul li + li {
    border: none;
    border-left: solid 1px #333333;
  }

  h1.logo img {
    width: 434px;
    height: 187px;
    margin: auto;
    background-size: cover;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    margin-top: 25px;
  }

  h1.logo img {
    width: 434px;
    height: 187px;
    margin: auto;
    background-size: cover;
  }
}
.row {
  margin: auto;
}

.rect {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-family: 'Francois One', sans-serif;
  font-size: 2.2em;
  color: #ffffff;
  padding: 25px;
  text-transform: uppercase;
}
.rect p {
  margin-top: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.rect.red {
  background: #df0030;
}
.rect.red .button:hover {
  background: #ac0025;
}
.rect.black {
  background: #191e23;
}
.rect.black .button:hover {
  background: #040405;
}
.rect.lightgrey {
  background: #e9e9e9;
}
.rect.lightgrey .button:hover {
  background: #d0d0d0;
}
.rect.no-mobile {
  display: none;
}
.rect .tweetCard {
  color: #424242;
}
.rect .tweetCard h2 {
  font-size: 1.2em;
}
.rect .tweetCard p {
  font-family: 'Radley', serif;
  font-size: 1em;
  text-transform: none;
}
.rect .tweetCard p a {
  color: #df0030;
}
.rect.owl-carousel {
  padding: 0;
}
.rect.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}
.rect.owl-carousel .owl-controls {
  margin-top: -32px;
}
.rect.owl-carousel .owl-controls.active span {
  background: #df0030;
}
.rect.ShegueyBuyAlbum {
  background: url("../img/cover.jpg") center center;
  background-size: cover;
  min-height: 300px;
}
.rect.ShegueyBuyAlbum img {
  display: block;
  width: 100%;
  height: auto;
}
.rect.ShegueyBuyAlbum .button {
  background: #191e23;
}
.rect.clickSheg {
  width: 100%;
  height: 120px;
  background-position: 50% 20%;
  background-size: 100%;
  -webkit-transition: background-size 0.3s ease-in-out;
          transition: background-size 0.3s ease-in-out;
  cursor: pointer;
}
.rect.clickSheg p {
  background-color: inherit;
  padding: 5px 15px;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.rect.clickSheg:hover {
  background-size: 120%;
}
.rect.clickSheg:hover p {
  -webkit-transform: translateX(20px) scale(1.2);
          transform: translateX(20px) scale(1.2);
}

.conteneur {
  width: 50%;
  float: left;
}

@media only screen and (min-width: 600px) {
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 600px;
  }

  .rect {
    width: 300px;
    min-height: 300px;
    font-size: 2.5em;
  }
  .rect.no-mobile {
    display: block;
  }
  .rect.no-tablet {
    display: none !important;
  }
  .rect.owl-carousel {
    width: 300px !important;
  }
  .rect.owl-carousel img {
    width: 300px !important;
    height: 300px !important;
  }
  .rect.owl-carousel .owl-controls {
    margin-top: -50px;
  }
  .rect .tweetCard p {
    font-size: 0.8em;
  }
  .rect .tweetCard p a {
    color: #df0030;
  }
  .rect.shegueyMur {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .rect.shegueyVideos {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .rect.shegueyClickSheg {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .rect.shegueyTweet {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .rect.shegueySlideGradur {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .rect.shegueyTest {
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .rect.shegueyTweetTo {
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .rect.shegueySlide {
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .rect.ShegueyCalendar {
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .rect.ShegueyBuyAlbum {
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .rect.clickSheg {
    min-height: 150px;
    width: 300px;
  }

  .conteneur {
    width: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 1200px;
  }

  .rect {
    width: 300px;
    height: 300px;
  }
  .rect.no-mobile {
    display: block;
  }
  .rect.no-tablet {
    display: block !important;
  }
  .rect.owl-carousel {
    width: 300px !important;
  }
  .rect.owl-carousel img {
    width: 300px !important;
    height: 300px !important;
  }
  .rect.owl-carousel .owl-controls {
    margin-top: -50px;
  }
  .rect .tweetCard p {
    font-size: 0.8em;
  }
  .rect .tweetCard p a {
    color: #df0030;
  }
  .rect.shegueyMur {
    -webkit-order: 1 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .rect.empty:nth-child(2) {
    -webkit-order: 4 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important;
  }
  .rect.shegueyVideos {
    -webkit-order: 4 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important;
  }
  .rect.shegueyTweet:nth-child(1) {
    -webkit-order: 15 !important;
        -ms-flex-order: 15 !important;
            order: 15 !important;
  }
  .rect.shegueyTweet:nth-child(2) {
    -webkit-order: 20 !important;
        -ms-flex-order: 20 !important;
            order: 20 !important;
  }
  .rect.shegueyClickSheg {
    -webkit-order: 25 !important;
        -ms-flex-order: 25 !important;
            order: 25 !important;
  }
  .rect.empty:nth-child(7) {
    -webkit-order: 30 !important;
        -ms-flex-order: 30 !important;
            order: 30 !important;
  }
  .rect.shegueySlideGradur {
    -webkit-order: 35 !important;
        -ms-flex-order: 35 !important;
            order: 35 !important;
  }
  .rect.shegueyTweetTo {
    -webkit-order: 40 !important;
        -ms-flex-order: 40 !important;
            order: 40 !important;
  }
  .rect.empty:nth-child(10) {
    -webkit-order: 40 !important;
        -ms-flex-order: 40 !important;
            order: 40 !important;
  }
  .rect.shegueySlide {
    -webkit-order: 55 !important;
        -ms-flex-order: 55 !important;
            order: 55 !important;
  }
  .rect.shegueyTest {
    -webkit-order: 55 !important;
        -ms-flex-order: 55 !important;
            order: 55 !important;
  }
  .rect.empty:nth-child(13) {
    -webkit-order: 55 !important;
        -ms-flex-order: 55 !important;
            order: 55 !important;
  }
  .rect.ShegueyBuyAlbum {
    -webkit-order: 70 !important;
        -ms-flex-order: 70 !important;
            order: 70 !important;
  }
  .rect.ShegueyCalendar {
    -webkit-order: 65 !important;
        -ms-flex-order: 65 !important;
            order: 65 !important;
  }
  .rect.clickSheg {
    height: 150px;
    width: 300px;
  }

  .conteneur {
    width: 300px;
  }
}
.form {
  width: 100%;
}
.form.red .button:hover {
  background: #ac0025;
}
.form #formContact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: auto;
}
.form #formContact input {
  margin-top: 1.5em;
  height: 40px;
  background-color: #e9e9e9;
  border: none;
  font-family: 'Radley', serif;
  font-size: 1.6em;
  padding: 10px;
  width: 100%;
}
.form #formContact textarea {
  margin-top: 1.5em;
  height: 200px;
  background-color: #e9e9e9;
  border: none;
  resize: none;
  font-family: 'Radley', serif;
  font-size: 1.6em;
  padding: 10px;
  width: 100%;
}
.form #formContact button {
  font-family: 'Radley', serif;
  width: 25%;
  height: 40px;
  background-color: #df0030;
  margin: 0.9em 0;
  color: #ffffff;
  text-align: center;
}
.form .rangSheguey {
  background-color: #df0030;
  width: 95%;
  margin: auto;
  display: table;
}
.form .rangSheguey h2 {
  display: table-cell;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-family: 'Radley', serif;
  font-weight: lighter;
}

@media only screen and (min-width: 600px) {
  .form {
    width: 600px;
    margin: auto;
  }
  .form #formContact {
    max-width: 70%;
  }
  .form #formContact div {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form #formContact div input {
    width: 48%;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form #formContact button {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
  .form #formContact button:hover {
    background: #ac0025;
  }
  .form .rangSheguey {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  .form {
    width: 1200px;
    margin: auto;
  }
  .form #formContact div {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form #formContact div input {
    width: 48%;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form #formContact button {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
  .form #formContact button:hover {
    background: #ac0025;
  }
}
@media only screen and (min-width: 600px) {
  header .galleryOptions h2 {
    display: table-cell;
  }
}

header form.formOptions {
  display: block;
  vertical-align: middle;
}
@media only screen and (min-width: 600px) {
  header form.formOptions {
    display: table-cell;
  }
}
header form.formOptions fieldset.galleryOption {
  border: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
header form.formOptions fieldset.galleryOption legend {
  display: none;
}
header form.formOptions fieldset.galleryOption .field.mediaType {
  display: inline-block;
}
header form.formOptions fieldset.galleryOption .field input {
  opacity: 0;
  height: 0px;
  position: absolute;
  left: 0px;
  margin: 0px;
}
header form.formOptions fieldset.galleryOption .field input[type=checkbox] + label:before {
  content: "i";
  color: #c6002b;
  vertical-align: middle;
}
header form.formOptions fieldset.galleryOption .field input[type=checkbox]:checked + label:before {
  content: "i";
  color: #ffffff;
  vertical-align: middle;
}
header form.formOptions fieldset.galleryOption .field input[type=radio]:checked + label:before {
  content: "j";
  color: #ffffff;
  vertical-align: middle;
  font-size: 0.5em;
}
header form.formOptions fieldset.galleryOption .field.select {
  display: none;
  position: absolute;
  z-index: 100;
}
header form.formOptions fieldset.galleryOption .field.select label {
  display: block;
  background: #df0030;
  cursor: pointer;
  padding: 10px 15px;
}
header form.formOptions fieldset.galleryOption .field.select label:hover {
  background: #ac0025;
}
header form.formOptions fieldset.galleryOption .field.select label + label {
  border-top: solid 1px #ac0025;
}
header form.formOptions fieldset.galleryOption .field.select.active {
  display: block;
  margin-top: 10px;
}
header form.formOptions fieldset.galleryOption .field label {
  color: #ffffff;
  font-size: 2.2em;
  margin-right: 15px;
  cursor: pointer;
}
header form.formOptions fieldset.galleryOption .field label:before {
  font-family: "shegueyfont" !important;
  font-size: 1.4em;
  padding: 0 5px 0px 0px;
  margin: 0;
  vertical-align: middle;
}
header form.formOptions fieldset.galleryOption .field label.orderBy {
  font-size: 1.8em;
  margin: 0;
}
header form.formOptions fieldset.galleryOption .orderPicsBy {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  width: 160px;
}
header form.formOptions fieldset.galleryOption .orderPicsBy h4 {
  font-size: 2.2em;
  color: #ffffff;
  font-weight: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
}
header form.formOptions fieldset.galleryOption .orderPicsBy h4:after {
  text-transform: lowercase;
  font-family: "shegueyfont";
  content: "h";
  vertical-align: middle;
  padding-left: 10px;
  display: inline-block;
}

.shegueyGallery .rect.gallery {
  padding: 0 !important;
  margin: 0;
  height: 300px;
  width: 300px;
  margin: auto;
}
.shegueyGallery .rect.gallery div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 300px;
  background-position: cover;
  margin: auto;
}
.shegueyGallery .rect.gallery div p {
  color: #f7f7f7;
  padding: 5px 10px;
  margin: 0;
  background: rgba(25, 30, 35, 0.3);
}
.shegueyGallery .rect.gallery div p span {
  color: #df0030;
}
.shegueyGallery .rect.gallery div .likePic {
  font-family: "shegueyfont" !important;
  font-size: 5em;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
}
.shegueyGallery .rect.gallery div .likePic:before {
  content: "c";
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.shegueyGallery .rect.gallery div .likePic:hover {
  opacity: 1;
}
.shegueyGallery .rect.gallery div .likePic:hover {
  background: rgba(25, 30, 35, 0.3);
}
.shegueyGallery .rect.gallery div .likePic.liked:before {
  color: #df0030;
  opacity: 0.3;
  -webkit-animation: animLiked 0.8s ease-in-out;
          animation: animLiked 0.8s ease-in-out;
}
.shegueyGallery .rect.gallery.video .likePic {
  position: absolute;
  z-index: 40;
  width: 40px;
  height: 40px;
  text-align: right;
  margin: 10px 0 0px 15px;
  font-size: 1.5em;
  font-family: "shegueyfont" !important;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
}
.shegueyGallery .rect.gallery.video .likePic:before {
  content: "c";
  text-transform: lowercase;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.shegueyGallery .rect.gallery.video .likePic.liked:before {
  color: #df0030;
  opacity: 0.3;
  -webkit-animation: animLiked 0.8s ease-in-out;
          animation: animLiked 0.8s ease-in-out;
}
.shegueyGallery .rect.gallery.video p {
  position: absolute;
  z-index: 30;
  width: 290px;
  text-align: right;
  margin: 5px 0 0 0;
}
.shegueyGallery .rect.gallery.video p span {
  color: #df0030;
}
.shegueyGallery .rect.gallery.video video {
  position: absolute;
  width: 300px;
  height: 300px;
}
.shegueyGallery .button {
  font-size: 2.2em;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  background: #df0030;
  width: 320px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
}

@-webkit-keyframes animLiked {
  0% {
    opacity: 1;
  }
  50% {
    color: #df0030;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
    color: #ffffff;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
    color: #df0030;
  }
}

@keyframes animLiked {
  0% {
    opacity: 1;
  }
  50% {
    color: #df0030;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
    color: #ffffff;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
    color: #df0030;
  }
}
.form {
  width: 100%;
}
.form.red .button:hover {
  background: #ac0025;
}
.form #formContact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: auto;
}
.form #formContact input {
  margin-top: 1.5em;
  height: 40px;
  background-color: #e9e9e9;
  border: none;
  font-family: 'Radley', serif;
  font-size: 1.6em;
  padding: 10px;
  width: 100%;
}
.form #formContact textarea {
  margin-top: 1.5em;
  height: 200px;
  background-color: #e9e9e9;
  border: none;
  resize: none;
  font-family: 'Radley', serif;
  font-size: 1.6em;
  padding: 10px;
  width: 100%;
}
.form #formContact button {
  font-family: 'Radley', serif;
  width: 25%;
  height: 40px;
  background-color: #df0030;
  margin: 0.9em 0;
  color: #ffffff;
  text-align: center;
}
.form .rangSheguey {
  background-color: #df0030;
  width: 95%;
  margin: auto;
  display: table;
}
.form .rangSheguey h2 {
  display: table-cell;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-family: 'Radley', serif;
  font-weight: lighter;
}

@media only screen and (min-width: 600px) {
  .form {
    width: 600px;
    margin: auto;
  }
  .form #formContact {
    max-width: 70%;
  }
  .form #formContact div {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form #formContact div input {
    width: 48%;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form #formContact button {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
  .form #formContact button:hover {
    background: #ac0025;
  }
  .form .rangSheguey {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  .form {
    width: 1200px;
    margin: auto;
  }
  .form #formContact div {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form #formContact div input {
    width: 48%;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form #formContact button {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }
  .form #formContact button:hover {
    background: #ac0025;
  }
}
.addPunch {
  width: 100%;
  height: 300px;
  margin: auto;
}
.addPunch .contentform form {
  width: 85%;
  margin: auto;
}
.addPunch .contentform form textarea {
  margin: 0;
  resize: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 1.5em;
  height: 150px;
  width: 100%;
  font-family: 'Radley', serif;
  border: none;
  background-color: #e9e9e9;
  padding: 15px;
  font-size: 2em;
}
.addPunch .contentform form input {
  font-size: 1.5em;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 5px;
  width: 100%;
  font-family: 'Radley', serif;
  border: none;
  border-top: 1px solid #c2c2c2;
  background-color: #e9e9e9;
  padding: 15px;
  font-size: 2em;
}
.addPunch .contentform form p {
  margin: 0 0 15px 0;
  color: #a8a8a8;
  text-align: right;
  width: 100%;
}
.addPunch .contentform form #submitPunch {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 25%;
  background-color: #df0030;
  font-family: 'Radley', serif;
}

#contentPunchline .punch {
  width: 85%;
  margin: auto;
}
#contentPunchline .punch div {
  display: inline-block;
  margin: 15px 0;
}
#contentPunchline .punch div .punchline {
  font-size: 2em;
  text-transform: capitalize;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Radley', serif;
  color: #686868;
}
#contentPunchline .punch div .punchline::before {
  content: "“";
  font-size: 8em;
  font-family: 'Radley', serif;
  color: #eeeeee;
  line-height: 0.3;
  margin-right: -25px;
  z-index: -99;
  height: 30px;
}
#contentPunchline .punch div .punchline::after {
  content: "”";
  font-size: 8em;
  font-family: 'Radley', serif;
  color: #eeeeee;
  line-height: 0.7;
  margin-left: -30px;
  z-index: -99;
  height: 30px;
}
#contentPunchline .punch div .mc {
  font-size: 1.5em;
  text-align: right;
  font-family: 'Radley', serif;
  font-weight: lighter;
  margin: -22px 75px 0 0;
  color: #838383;
  text-transform: capitalize;
}

@media only screen and (min-width: 600px) {
  .addPunch {
    width: 600px;
    margin-bottom: 20px;
  }
  .addPunch form input[name="mc"] {
    margin-top: 15px;
  }
  .addPunch form #submitPunch {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .addPunch {
    width: 1200px;
  }
  .addPunch .contentform form textarea {
    width: 50%;
    height: 60px;
  }
  .addPunch .contentform form input[name="mc"] {
    margin-top: 0;
    border-left: 1px solid #c2c2c2;
    border-top: none;
    width: 30%;
    display: inline;
  }
  .addPunch .contentform form #submitPunch {
    width: 20%;
    height: 60px;
  }
  .addPunch .contentform #punchAdded {
    width: 90%;
  }
}
.content .row {
  width: 90%;
  margin: auto;
}
.content .row .quizz li {
  display: none;
  width: 100%;
}
.content .row .quizz li.active {
  display: block;
}
.content .row .quizz li h5 {
  background-color: #e9e9e9;
  border-bottom: 10px solid #df0030;
  width: 100%;
  padding: 10px;
  font-size: 2.2em;
  height: 80px;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 0 0;
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.content .row .quizz li h5 {
  color: #df0030;
}
.content .row .quizz li h5:hover {
  background-color: #c3c3c3;
  border-color: #930020;
}
.content .row .quizz li a {
  color: #df0030;
}
.content .row .quizz li .resultSheguey h2 {
  margin: 15px 0 0 0;
  font-size: 4em;
  height: 45px;
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.content .row .quizz li .resultSheguey h2 {
  color: #191e23;
}
.content .row .quizz li .resultSheguey h3 {
  margin: 0 0 5px 0;
  font-size: 2.5em;
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.content .row .quizz li .resultSheguey h3 {
  color: #191e23;
}
.content .row .quizz li .resultSheguey p {
  background-color: #ffffff;
  color: #191e23;
  font-size: 2em;
  border: none;
  padding: 0;
  margin: 20px 0;
}
.content .row .quizz li .socialfacebook #share_button {
  background-color: #3b5998;
  border-left: 10px solid #263961;
  border-bottom: none;
  color: #ffffff;
  padding: 30px 0 0 20px;
  height: 80px;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2em;
  margin-top: 15px;
}
.content .row .quizz li .socialfacebook #share_button:hover {
  background-color: #344e86;
  border-color: #1e2e4f;
}
.content .row .quizz li .socialfacebook .previewFb {
  width: 100%;
  border: 1px solid #e9e9e9;
}
.content .row .quizz li .socialfacebook .previewFb div {
  width: 100%;
}
.content .row .quizz li .socialfacebook .previewFb div img {
  max-width: 100%;
  height: auto;
}
.content .row .quizz li .socialfacebook .previewFb h3 {
  font-size: 1.8em;
  margin: 20px 20px 10px 20px;
}
.content .row .quizz li .socialfacebook .previewFb p {
  font-size: 1.3em;
  background-color: #ffffff;
  border: none;
  padding: 0;
  margin-left: 20px;
  color: #191e23;
  width: 85%;
  height: inherit;
}
.content .quizPic {
  width: 100%;
  padding: 0 25px;
  margin-top: 15px;
}
.content .quizPic img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .content .row {
    width: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .content .row .quizz {
    width: 600px;
  }
  .content .row .quizz li {
    margin-bottom: 15px;
  }
  .content .row .quizz li div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
  .content .row .quizz li div h5 {
    width: 280px;
    margin-right: 20px;
  }
  .content .row .quizz li div h5.start {
    width: 100%;
  }
  .content .row .quizz li .resultSheguey {
    width: 95%;
  }
  .content .row .quizz li .socialfacebook {
    display: block;
  }
  .content .row .quizz li .socialfacebook #share_button {
    width: 600px;
  }
  .content .row .quizz li .socialfacebook .previewFb {
    width: 100%;
    border: 1px solid #e9e9e9;
  }
  .content .row .quizz li .socialfacebook .previewFb div {
    width: 100%;
  }
  .content .row .quizz li .socialfacebook .previewFb div img {
    width: 100%;
    height: auto;
  }
  .content .row .quizPic {
    width: 500px;
    height: 500px;
    padding: 0;
    margin: auto;
  }
  .content .row .quizPic li div {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .content .row {
    width: 1200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .content .row .quizz {
    width: 600px;
  }
  .content .row .quizz li div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
  .content .row .quizz li div h5 {
    width: 280px;
    margin-right: 20px;
  }
  .content .row .quizz li .socialfacebook {
    display: block;
  }
  .content .row .quizz li .socialfacebook #share_button {
    width: 300px;
  }
  .content .row .quizz li .socialfacebook .previewFb {
    width: 100%;
    border: 1px solid #e9e9e9;
  }
  .content .row .quizz li .socialfacebook .previewFb div {
    width: 100%;
  }
  .content .row .quizz li .socialfacebook .previewFb div img {
    width: 100%;
    height: auto;
  }
  .content .quizPic {
    width: 600px;
    height: 600px;
    padding-right: 0;
  }
  .content .quizPic li div {
    width: 100%;
    height: 100%;
  }
}
