html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  margin: auto;
}
header h1 {
  text-align: center;
}
header h1 img {
  width: 434px;
  height: 187px;
  margin: auto;
}

.button {
  padding: 10px 25px;
  border: solid 2px #ffffff;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
}

.row {
  margin: auto;
}

.rect {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-family: 'Francois One', sans-serif;
  font-size: 3.2em;
  color: #ffffff;
  padding: 25px;
  text-transform: uppercase;
}
.rect p {
  margin-top: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.rect.red {
  background: #df0030;
}
.rect.red .button:hover {
  background: #ac0025;
}
.rect.black {
  background: #191e23;
}
.rect.black .button:hover {
  background: #040405;
}
.rect.lightgrey {
  background: #e9e9e9;
}
.rect.lightgrey .button:hover {
  background: #d0d0d0;
}
.rect.no-mobile {
  display: none;
}
.rect .tweetCard {
  color: #424242;
}
.rect .tweetCard h2 {
  font-size: 1.2em;
}
.rect .tweetCard p {
  font-family: 'Radley', serif;
  font-size: 1em;
  text-transform: none;
}
.rect.owl-carousel {
  padding: 0;
}
.rect.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}
.rect.owl-carousel .owl-controls {
  margin-top: -50px;
}
.rect.owl-carousel .owl-controls.active span {
  background: #df0030;
}
.rect.ShegueyBuyAlbum {
  background: url("../img/cover.jpg") center center;
  background-size: cover;
  min-height: 300px;
}
.rect.ShegueyBuyAlbum img {
  display: block;
  width: 100%;
  height: auto;
}
.rect.ShegueyBuyAlbum .button {
  background: #191e23;
}

@media only screen and (min-width: 600px) {
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 600px;
  }

  .rect {
    width: 300px;
    min-height: 300px;
    font-size: 2.5em;
  }
  .rect.no-mobile {
    display: block;
  }
  .rect.no-tablet {
    display: none !important;
  }
  .rect.owl-carousel {
    width: 300px !important;
  }
  .rect.owl-carousel img {
    width: 300px !important;
    height: 300px !important;
  }
  .rect .tweetCard p {
    font-size: 0.8em;
  }
  .rect.shegueyMur {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .rect.shegueyVideos {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .rect.shegueyClickSheg {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .rect.shegueyTweet {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .rect.shegueySlideGradur {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .rect.shegueyTest {
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .rect.shegueyTweetTo {
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .rect.shegueySlide {
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .rect.ShegueyCalendar {
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .rect.ShegueyBuyAlbum {
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
}
@media only screen and (min-width: 1200px) {
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 1200px;
  }

  .rect {
    width: 300px;
    height: 300px;
  }
  .rect.no-mobile {
    display: block;
  }
  .rect.no-tablet {
    display: block !important;
  }
  .rect.owl-carousel {
    width: 300px !important;
  }
  .rect.owl-carousel img {
    width: 300px !important;
    height: 300px !important;
  }
  .rect.shegueyMur {
    -webkit-order: 1 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .rect.empty:nth-child(1) {
    -webkit-order: 5 !important;
        -ms-flex-order: 5 !important;
            order: 5 !important;
  }
  .rect.shegueyVideos {
    -webkit-order: 10 !important;
        -ms-flex-order: 10 !important;
            order: 10 !important;
  }
  .rect.shegueyTweet:nth-child(1) {
    -webkit-order: 15 !important;
        -ms-flex-order: 15 !important;
            order: 15 !important;
  }
  .rect.shegueyTweet:nth-child(2) {
    -webkit-order: 20 !important;
        -ms-flex-order: 20 !important;
            order: 20 !important;
  }
  .rect.shegueyClickSheg {
    -webkit-order: 25 !important;
        -ms-flex-order: 25 !important;
            order: 25 !important;
  }
  .rect.empty:nth-child(2) {
    -webkit-order: 30 !important;
        -ms-flex-order: 30 !important;
            order: 30 !important;
  }
  .rect.shegueySlideGradur {
    -webkit-order: 35 !important;
        -ms-flex-order: 35 !important;
            order: 35 !important;
  }
  .rect.shegueyTweetTo {
    -webkit-order: 40 !important;
        -ms-flex-order: 40 !important;
            order: 40 !important;
  }
  .rect.empty:nth-child(3) {
    -webkit-order: 45 !important;
        -ms-flex-order: 45 !important;
            order: 45 !important;
  }
  .rect.shegueySlide {
    -webkit-order: 50 !important;
        -ms-flex-order: 50 !important;
            order: 50 !important;
  }
  .rect.shegueyTest {
    -webkit-order: 55 !important;
        -ms-flex-order: 55 !important;
            order: 55 !important;
  }
  .rect.empty:nth-child(4) {
    -webkit-order: 60 !important;
        -ms-flex-order: 60 !important;
            order: 60 !important;
  }
  .rect.ShegueyBuyAlbum {
    -webkit-order: 65 !important;
        -ms-flex-order: 65 !important;
            order: 65 !important;
  }
  .rect.ShegueyCalendar {
    -webkit-order: 70 !important;
        -ms-flex-order: 70 !important;
            order: 70 !important;
  }
}
